* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
}

/*utility*/

.container-star {
    width: 40%;
    margin: 0 auto;
}

.container-smaller {
    width: 70%;
    margin: auto;
}

.border-none {
    border: none;
}

.input {
    border-bottom: 0.1rem solid rgb(196, 195, 195);
}

.input label {
    width: 14%;
}

.input textarea{
    width: 100%;
    border: none;
}

.input input {
    width: 85%;
    border: none;
}

.btn-transparent {
    text-transform: capitalize;
    background-color: transparent;
    border: 0.1rem solid #fff;
    color: #fff;
    border-radius: 0.5rem;
}

.btn-green {
    text-transform: capitalize;
    background-color: #1abc9c;
    border: none;
    color: #fff;
    border-radius: 0.5rem;
}

.btn-transparent p {
    display: inline;
}

h1 {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
}

h3 {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.border-radius {
    border-radius: 1rem;
}

.container-star {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.container-star hr {
    width: 30%;
    height: 0.2rem;
    border: none;
    opacity: 1;
}

.sezione-1 hr, .sezione-3 hr {
    background: #fff;
}

.sezione-2 hr {
    background: #000;
}

header {
    height: 80px;
    width: 100%;
    background-color: #2c3e50;
}

.grey {
    background-color: #2c3e50;
}

header h3 {
    text-transform: uppercase;
    font-weight: 700;
}

header i {
    color: white;
}

header li {
    text-transform: uppercase;
    font-weight: 700;
}

footer {
    background-color: #3a546d;
    color: #fff;
}

.row, .container, .container-xs, .container-sm, .container-md {
    height: 100%;
}

.navy {
    background-color: #2c3e50;
}

.green {
    background-color: #1abc9c;
}

.icone {
    width: 100%;
}

.rounded {
    
    height: 50px;
    
}

.color-white {
    color: #fff;
}

.justify-end {
    justify-content: flex-end;
}

.rounded i{
    border: 0.1rem solid #fff;
    border-radius: 10rem;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: table-cell;
    vertical-align: middle;
}

footer a {
    text-decoration: none;
    color: #1abc9c;
}

.sezione-1 .contenuto, .sezione-3 .contenuto {
    color: #fff;
}

.sezione-1 img {
    width: 20%;
}

.sezione-2 img {
    width: 100%;
}